<div class="Test">
    <include src="file://{resources}/styles/common_styles.xml" />
    <style>
        .container {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-style: italic;
            font-weight: bold;
            font-size: 1.2em;
            display: grid;
            gap: 2em;
            place-content: center;
            width: 400px;
        }
    </style>
    <!--Code from: https://uiverse.io/kamehame-ha/chilly-snake-91-->
    <div class="cards">
        <div class="card red">
            <p class="tip">Hover Me</p>
            <p class="second-text">Lorem Ipsum</p>
        </div>
        <div class="card blue">
            <p class="tip">Hover Me</p>
            <p class="second-text">Lorem Ipsum</p>
        </div>
        <div class="card green">
            <p class="tip">Hover Me</p>
            <p class="second-text">Lorem Ipsum</p>
        </div>
    </div>
</div>